.About-section{
    margin-top: -5px;
    background: linear-gradient(to bottom, var(--ex-dark-turquish), #000);
}

.about-yellow{
    background: var(--light-turqish);
    width: 100%;
    padding: 200px 0;
    clip-path: 
    polygon( 
        0 24% 
      , 8% 18%    
      , 16% 18%
      , 23% 13%
      , 30% 14%
      , 38% 8%
      , 65% 8%
      , 76% 8%
      , 83% 3%
      , 89% 3%
      , 94% 0%
      , 100% 0
      ,100% 77%
      , 94% 77%    
      , 87% 82%    
      , 79% 82%    
      , 70% 86%    
      , 42% 86%    
      , 36% 90%    
      , 29% 89%    
      , 21% 92%    
      , 13% 90%    
      , 5% 96%    
      , 0% 97%
      );
}

.about-header{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 auto;
}
.about-header h1{
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
}
.about-header p{
    font-weight: bold;
    text-align: center;
    font-family: system-ui;
}
.about-list-section{
    margin: 40px;
    padding: 40px;
}
.about-list{
    /* padding: 40px; */
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.serial{
    font-family: 'Nunito', sans-serif;
    background: black;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    left: 30px;
}
.about-list-item{
    background: var(--purple);
    width: 350px;
    padding: 80px 20px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 black;
    color: white;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.about-list-item:hover{
    background-color: #FFFF00;
    color: black;
}
.about-list-item:nth-child(even){
    margin-top: 40px;
}
.about-list-head{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: inherit;
}
.about-list-content{
    font-family: system-ui;
    font-size: 1.1rem;
    color: inherit;
}

@media(max-width: 1150px){
    .about-list{
        /* padding: 40px; */
        justify-content: center;
        align-items: flex-start;
    }
    .about-yellow{
        padding: 50px;
        clip-path: none;
    }
    .about-list-section{
        margin: 40px 0;
        padding: 40px 0;
    }
    .about-list-item{
        width: 300px;
        padding: 80px 20px;
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 20px;
        box-shadow: 7px 7px 0 black;
        color: white;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        margin: 30px;
    }
}

@media(max-width: 820px){
    .about-header h1{
        font-size: 3rem;
    }
    .about-list{
        flex-direction: column;
    }
    .about-list-section{
        margin: 0;
    }
    .about-list-item{
        width: 100%;
        margin: 30px 0;
    }
    .about-list-item:nth-child(even){
        margin-top: 30px;
    }
}
@media(max-width: 600px){
    .about-header h1{
        font-size: 2rem;
    }
    .about-list{
        flex-direction: column;
    }
    .about-list-section{
        margin: 0;
    }
    .about-list-item:nth-child(even){
        margin-top: 40px;
    }
}