.header-main{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    color: var(--white);
    
    display: flex;
    justify-content: space-between;
}

.navigation-left{
    width: 350px;
    height: 600px;
    background: linear-gradient(to bottom, var(--dark-turqish), var(--ex-dark-turquish));
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-top: 3px solid var(--light-turqish);
    padding: 20px 0;
    overflow: hidden;
    transition: 0.3s;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.active{
    width: 350px !important;
}
.navigation-left .nav-login{
    display: none;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100%;
}
.nav-item{
    margin: 20px;
    padding: 20px;
    
    width: 80%;
    font-weight: 900;
    
    color: black;
    border: 3px solid var(--dark-turquish);
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--light-turqish), #A4F2FA);
    
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.2rem;
}
.nav-item:hover{
    background: linear-gradient(to top, var(--light-turqish), #A4F2FA);
}
.nav-item i{
    font-size: 1.2rem;
    margin: 10px;
}

@media(max-width: 1350px){
    .header-main{
        display: initial;
    }
    .navigation-left{
        height: 90vh;
        position: absolute;
        right: 0;
        width: 0%;
    }
    .navigation-left .nav-login{
        display: initial;
    }
}

/* @media(max-width: 500px){
    .navigation-left{
        width: 100%;
    }
    .nav-list{
        width: 100%;
    }
} */